name: Benchmark-CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.101

    - name: Restore dependencies
      working-directory: ./src
      run: dotnet restore

    - name: Benchmark
      working-directory: ./src
      run: dotnet run -c Release --filter \* --job Dry --disableLogFile
